<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{myvideo.name}}">
  <ion-content class="text-center">

    <video class="video-js" on-finish-render ng-repeat="video in ['']"
          controls preload="true"  style="width: 100%" height="200" id="my_video{{videoid}}"
          poster="http://video-js.zencoder.com/oceans-clip.png"
           data-setup='{"example_option":true}' >
      <source src="" type='video/mp4'>
      <!--<source src="http://101.200.81.99:8080/ciwen/assets/aOrX3hUkGBenBg8OUulHZQ__.mp4" type='video/mp4'>-->
      <!--<source src="http://101.200.81.99:8080/ciwen/assets/ocean.mp4" type='video/mp4'>-->
      <!--<source src="{{videosrc}}" type='video/mp4'>-->
      <!--<source src="http://101.200.81.99:8080/ciwen/test2x.mp4" type='video/mp4'>-->
      <!--<source src="http://video-js.zencoder.com/oceans-clip.webm" type='video/webm' />-->
      <!--<track kind="Subtitles" src="http://101.200.81.99:8080/ciwen/oceans.vtt" default srclang="zh" label="中文"></track>-->
    </video>

    <style>
      /* 所有class为menu的div中的ul样式 */
      ul
      {
        list-style:none; /* 去掉ul前面的符号 */
        margin: 0px; /* 与外界元素的距离为0 */
        padding: 0px; /* 与内部元素的距离为0 */
        width: 800px; /* 宽度根据元素内容调整 */
      }
      /* 所有class为menu的div中的ul中的li样式 */
      ul li
      {
        float:left; /* 向左漂移，将竖排变为横排 */
        width:80px;
      }
      #hlist .item{
        border: none;
      }
    </style>
    <ion-scroll direction="x" >
      <ul id="hlist" >
        <li ng-repeat="c in videos">
          <i class = "item item-avatar" ng-click='loadVideoByid(c._id)'>
              <img src="{{c.poster}}">
          </i>
        </li>
        <li ng-repeat="c in videos">
          <i class = "item item-avatar" ng-click='loadVideoByid(c._id)'>
            <img src="{{c.poster}}">
          </i>
        </li>
      </ul>
    </ion-scroll>

    <ion-list>
      <ion-item class="text-center">
        <div class="energized">{{getStatus(recordStatus)}} ({{currentTime}}/{{bufferedTime}}/{{duration}}s)</div>
        <!--<i class="button icon ion-share icon-left button-light">分享</i>-->
        <!--<p>-->
          <!--{{chat.lastText}}-->
        <!--</p>-->
      </ion-item>
    </ion-list>
    <p class="{{!currentRecord ? 'balanced':'assertive'}} padding">
      <i class="button-large icon {{currentRecord ? 'ion-pause':'ion-record'}}" ng-show="step>0" ng-click="captureAudio()"></i>
      <i class="button-large icon ion-ios-eye-outline" ng-click="previewRecord()" ng-show="!currentRecord && step>1"></i>
      <!--<i class="button-large icon ion-ios-upload-outline" ng-click="uploads()" ng-show="!currentRecord && step>1"></i>-->
      <a class="button-large icon button-light ion-ios-upload-outline" href="#/tab/player/{{output_video}}"  ng-show="!currentRecord && step>2"></a>
      <!--<a class="button-large icon ion-jet" href="{{output_video}}"  ng-show="!currentRecord && step>2"></a>-->
    </p>
    <ion-list ng-hide="true">
      <ion-item class="text-left" >
        <p>info: {{info_pause_count}}, {{start_time}}, {{current_time}}</p>
        <p>counts: {{pauseCount}}/{{totalCount}}/{{uploaded_count}}</p>
        <p>preview_flag: {{preview_flag}}</p>
        <p>preview_inprocess: {{preview_inprocess}}</p>
        <p>currentTime: {{currentTime}}</p>
        <p>mode: {{mode}}</p>
        <p>currentRecord: {{currentRecord}}</p>
        <p>step: {{step}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
