<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view>
  <ion-nav-title> {{myvideo.name}}</ion-nav-title>
  <ion-nav-buttons side="left"> <!-- left -->
    <button  class="button button-icon icon {{step < 2 ? 'ion-ios-arrow-back' : 'ion-ios-close-empty'}}"  ng-click="goBack()"></button>
  </ion-nav-buttons>
  <ion-content class="text-center">

    <video class="video-js" on-finish-render ng-repeat="video in ['']"
          controls preload="true"  style="width: 100%" height="206" id="my_video{{videoid}}"
          poster="http://video-js.zencoder.com/oceans-clip.png"
           data-setup='{"example_option":true}' >
      <source src="" type='video/mp4'>
    </video>

    <ion-item style="padding:0" ng-show="step<2">
    <!--看，还有谁在演-->
    <ion-scroll direction="x" class="hlist">
      <ul>
        <li style="padding-top:12px">
          <i class="icon ion-videocamera energized" style="font-size:50px;"></i><br>
          视频库</li>
        <li ng-repeat="v in tagVideos | filter:excludeSelf | limitTo:8">
          <i class = "" ng-click='loadVideoByid(v._id)'>
              <img src="{{v.poster}}"><br>
              {{v.name}}
          </i>
        </li>
      </ul>
    </ion-scroll>
    </ion-item>
    <ion-item style="padding:0" ng-show="step==2">
      预览 ....
    </ion-item>

    <ion-list>
      <ion-item class="text-center" ng-hide="true">
        <div class="energized">{{getStatus(recordStatus)}} ({{currentTime}}/{{bufferedTime}}/{{duration}}s)</div>
      </ion-item>
    </ion-list>
    <p class="{{!currentRecord ? 'balanced':'assertive'}} padding">
      <i class="button-large icon {{currentRecord ? 'ion-pause':'ion-record'}}" style="font-size:80px;" ng-show="step==1" ng-click="captureAudio()"></i>

      <!--<i class="button-large icon ion-ios-eye-outline" ng-click="previewRecord()" ng-show="!currentRecord && step>1"></i>-->
      <!--<i class="button-large icon ion-ios-upload-outline" ng-click="uploads()" ng-show="!currentRecord && step>1"></i>-->
      <!--<a class="button-large icon button-light ion-ios-upload-outline" href="#/tab/player/{{output_video}}"  ng-show="!currentRecord && step>2"></a>-->
      <!--<a class="button-large icon ion-jet" href="{{output_video}}"  ng-show="!currentRecord && step>2"></a>-->
    </p>
    <div class="text-center" ng-click="uploads()" ng-show="!currentRecord && step==2">
      <i class="button button-energized button-full icon ion-android-upload">&nbsp; 发布 </i>
    </div>
    <div class="text-center" ng-show="!currentRecord && step==3">
      <a href="#/tab/player/{{output_video}}" class="button button-energized button-full icon ion-android-upload">&nbsp; 分享 </a>
    </div>
    <ion-list ng-hide="true">
      <ion-item class="text-left" >
        <p>info: {{info_pause_count}}, {{start_time}}, {{current_time}}</p>
        <p>counts: {{pauseCount}}/{{totalCount}}/{{uploaded_count}}</p>
        <p>preview_flag: {{preview_flag}}</p>
        <p>preview_inprocess: {{preview_inprocess}}</p>
        <p>currentTime: {{currentTime}}</p>
        <p>mode: {{mode}}</p>
        <p>currentRecord: {{currentRecord}}</p>
        <p>step: {{step}}</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
