<ion-view view-title="{{title}}">
  <ion-content class="">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <style>
      a{
        text-decoration:none;
        color:white;
      }
      .slide-item{width:100%;}
    </style>
    <ion-slide-box pager-click="navSlide(index)" auto-play="true" does-continue="true" style="margin-bottom:-4px;">
      <ion-slide ng-repeat="s in ['a.jpg', 'b.jpg', 'c.jpg', 'd.jpg']">
        <img class="slide-item" height="{{slideHeight}}" src="img/{{s}}">
      </ion-slide>
    </ion-slide-box>
    <div class="item item-divider">热门推荐 {{downloadProgress}}</div>



    <div class="row row-no-padding" ng-repeat="video in videos" ng-if="$index % 2 === 0" style="height:125px">
      <div class="col col-50" ng-if="$index < videos.length">
        <!--<a href="#/video/{{videos[$index]._id}}">-->
        <a ui-sref="video({vid: videos[$index]._id})">
          <img src="http://101.200.81.99:808/{{videos[$index].poster}}" class="img-fixed" />
        </a>
        <div class="move-up-note">
          <a href="#/tab/focus/{{videos[$index].author._id}}">
            <img ng-src="{{videos[$index].author.icon}}">
          </a>
          {{videos[$index].name}}
        </div>
      </div>
      <div class="col col-50" ng-if="$index + 1 < videos.length">
        <!--<a href="#/video/{{videos[$index+1]._id}}">-->
        <a ui-sref="video({vid: videos[$index+1]._id})">
        <img src="http://101.200.81.99:808/{{videos[$index+1].poster}}" class="img-fixed" />
        </a>
        <div class="move-up-note">
          <a href="#/tab/focus/{{videos[$index+1].author._id}}">
            <img ng-src="{{videos[$index+1].author.icon}}">
          </a>
          {{videos[$index+1].name}}
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
