<ion-view view-title="{{title}}">
  <ion-content class="">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <div class="item item-divider">热门推荐 {{downloadProgress}}</div>
    <style>
      a{
        text-decoration:none;
        color:white;
      }
      .img-fixed{height:140px;width:100%;z-index:2;}
      .move-up-note{margin:-25px 0 0 0;padding:0 0 0 6px; font-size: smaller;
        background-image: url('img/bar_back.png');
        background-repeat: repeat-x;
        background-position: bottom;
        z-index: 1;
        color:white;
      }
      .move-up-note img{ border-radius:50%; height:30px;margin-top:-15px}
    </style>
    <!--<video  class="video-js vjs-default-skin vjs-big-play-centered" on-finish-render ng-repeat="video in videos | limitTo:1"-->
            <!--controls preload="auto" style="width: 100%" height="200" id="main_video{{videoid}}"-->
            <!--poster="{{video.poster}}">-->
      <!--<source src="http://101.200.81.99:8080/ciwen/test2x.mp4" type='video/mp4'>-->
    <!--</video>-->


    <div class="row row-no-padding" ng-repeat="video in videos" ng-if="$index % 2 === 0" style="height:145px">
      <div class="col col-50" ng-if="$index < videos.length">
        <!--<a href="#/video/{{videos[$index]._id}}">-->
        <a ui-sref="video({vid: videos[$index]._id})">
          <img src="{{videos[$index].poster}}" class="img-fixed" />
        </a>
        <div class="move-up-note person-page-note">
          <a href="#/tab/focus/{{videos[$index].author._id}}">
            <img ng-src="{{videos[$index].author.icon}}">
          </a>
          {{videos[$index].name}}
        </div>
      </div>
      <div class="col col-50" ng-if="$index + 1 < videos.length">
        <!--<a href="#/video/{{videos[$index+1]._id}}">-->
        <a ui-sref="video({vid: videos[$index+1]._id})">
        <img src="{{videos[$index+1].poster}}" class="img-fixed" />
        </a>
        <div class="move-up-note">
          <a href="#/tab/focus/{{videos[$index+1].author._id}}">
            <img ng-src="{{videos[$index+1].author.icon}}">
          </a>
          {{videos[$index+1].name}}
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
