<ion-view view-title="资源库">
  <ion-content>
    <ion-list>
      <div class="row text-center item-divider-ios" style="padding:2px 0 0 0; font-size:12px; line-height: 12px;padding-top:1px;margin-bottom:-1px;">
        <div class="col {{$index == selectedTagIndex ? 'tab_selected':''}}" ng-repeat="tag in tags" ng-click="setContent(tag.tag, $index)">
          {{tag.tag}}
        </div>
      </div>
    </ion-list>
    <ion-list>
      <ion-item class="item-avatar item-icon-right" ng-repeat="video in videos" type="item-text-wrap" href="#/record/{{video._id}}">
        <img ng-src="http://101.200.81.99:808/{{video.poster}}">
        <h2>{{video.name}}</h2>
        <p>{{video.desc}}</p>
        <a class="icon ion-ios-paper-outline icon-accessory" href="#/resource/{{video._id}}"></a>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
