<ion-view cache-view="false" view-title="我">
  <ion-content style="background-color: snow">
    <script>

    </script>
    <div class="list list-borderless row-no-padding">
      <div class="item item-avatar item-icon-right">
        <img ng-src="{{icon}}" ng-click="changeIcon()">

        <h2>{{user_name}}</h2>
        <div class="row row-no-padding">
          ddd
        </div>
        <a class="icon ion-chevron-right icon-accessory" href="#"></a>
      </div>
      <div class="item row text-center row-no-padding" style="font-size:12px; line-height: 16px;">
        <div class="col col-33 item-divider-ios padding-vertical">{{usr.videoNo}}<br>视频</div>
        <div class="col col-33 item-divider-ios padding-vertical">{{usr.totalVotes}}<br>喜欢</div>
        <div class="col col-33 item-divider-ios padding-vertical">3<br>粉丝</div>
      </div>
    </div>

    <div class="list list-borderless row-no-padding">
    <div class="item row">
      <div class="col col-10 text-center"><i class="icon ion-ios-personadd-outline"></i></div>
      <div class="col col-90 with-bottom-border item-icon-right mytext">
        关注
        <a class="icon ion-chevron-right icon-accessory" href="#"></a>
      </div>
    </div>
    <div class="item row ">
      <div class="col col-10 text-center"><i class="icon ion-ios-people-outline"></i></div>
      <div class="col col-90 with-bottom-border item-icon-right mytext">
        粉丝
        <a class="icon ion-chevron-right icon-accessory" href="#"></a>
      </div>
    </div>
    <div class="item row ">
      <div class="col col-10 text-center"><i class="icon ion-ios-heart-outline"></i></div>
      <div class="col col-90 with-no-bottom-border item-icon-right mytext">
        喜欢
        <a class="icon ion-chevron-right icon-accessory" href="#"></a>
      </div>
    </div>
  </div>

    <div class="list list-borderless row-no-padding">
      <div class="item row ">
        <div class="col col-10 text-center"><i class="icon ion-ios-email-outline"></i></div>
        <div class="col col-90 with-no-bottom-border item-icon-right mytext">
          消息通知
          <a class="icon ion-chevron-right icon-accessory" href="#"></a>
        </div>
      </div>
    </div>

    <div class="list list-borderless row-no-padding">
      <div class="item row ">
        <span class="col col-10 text-center"><i class="icon ion-ios-gear-outline"></i></span>
        <a class="col col-90 with-no-bottom-border item-icon-right mytext"  href="#/settings">
          设置
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </div>
    </div>

  </ion-content>
</ion-view>
