<ion-view view-title="{{title}}">
  <ion-content class="">
    <ion-refresher on-refresh="doRefresh()"></ion-refresher>
    <style>
      a{
        text-decoration:none;
        color:white;
      }
      .slide-item{width:100%;}
    </style>
    <div class="mybar" ng-show="downloadProgress>0">
      <div style="width:{{downloadProgress}}%;">
      </div>
    </div>
    <ion-slide-box pager-click="navSlide(index)" auto-play="true" does-continue="true" style="margin-bottom:-4px;">
      <ion-slide ng-repeat="s in ['a.jpg', 'b.jpg', 'c.jpg', 'd.jpg']">
        <img class="slide-item" height="{{slideHeight}}" src="img/{{s}}">
      </ion-slide>
    </ion-slide-box>
    <div class="item item-divider">热门推荐</div>


    <div class="row row-no-padding" style="height:126px;">
      <div class="col col-50" style="padding-right:1px;">
        <a  href="#/resource/5698b07f9ad49e2a28cf2f6d">
          <img src="http://101.200.81.99:808/assets/4994438-1.jpg" class="img-fixed" />
        </a>
        <div class="move-up-note-royal light assertive-bg">
          上海话 + 英语
        </div>
      </div>
       <div class="col col-50">
          <a href="#/resource/56a5cd3f70a70a52335706a2">
            <img src="http://101.200.81.99:808/assets/5237300-1.jpg" class="img-fixed" />
          </a>
          <div class="move-up-note-energized">
            台湾腔东北话 part3
          </div>
      </div>
    </div>
    <div class="row row-no-padding" ng-repeat="video in videos" ng-if="$index % 2 === 0" style="height:126px">
      <div class="col col-50" style="padding-right:1px;" ng-if="$index < videos.length">
        <a ui-sref="video({vid: videos[$index]._id})">
          <img src="http://101.200.81.99:808/{{videos[$index].poster}}" class="img-fixed" />
        </a>
        <div class="move-up-note">
          <a href="#/person/{{videos[$index].author._id}}/">
            <img ng-src="{{videos[$index].author.icon}}">
          </a>
          {{videos[$index].name}}
        </div>
      </div>
      <div class="col col-50" ng-if="$index + 1 < videos.length">
        <a ui-sref="video({vid: videos[$index+1]._id})">
        <img src="http://101.200.81.99:808/{{videos[$index+1].poster}}" class="img-fixed" />
        </a>
        <div class="move-up-note">
          <a href="#/person/{{videos[$index+1].author._id}}/">
            <img ng-src="{{videos[$index+1].author.icon}}">
          </a>
          {{videos[$index+1].name}}
        </div>
      </div>
    </div>


  </ion-content>
</ion-view>
