<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="首页" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/home">
    <ion-nav-view name="tab-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="关注" icon-off="ion-ios-people-outline" icon-on="ion-ios-people" href="#/tab/focus">
    <ion-nav-view name="tab-focus"></ion-nav-view>
  </ion-tab>

  <ion-tab title="我来配音" icon-off="ion-ios-mic-outline" icon-on="ion-ios-mic" href="#/tab/cats">
    <ion-nav-view name="tab-cats"></ion-nav-view>
  </ion-tab>

  <ion-tab title="no-show" icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/player" hidden="true">
    <ion-nav-view name="tab-noshow"></ion-nav-view>
  </ion-tab>

  <!-- Account Tab -->
  <ion-tab title="我的" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>


</ion-tabs>
