<ion-view cache-view="false" view-title="视频详情">

  <ion-content class="text-centerd row-no-padding">


      <div style="float:right; padding: 21px 10px 0 0; font-size: x-small" ng-show="showFocus">
        <span class="icon {{noFocus ? 'ion-ios-plus-outline' : 'ion-ios-minus-outline'}}" ng-click="modifyInterest(noFocus)">关注</span>
      </div>
    <a  href="#/tab/focus/{{myvideo.author._id}}" style="text-decoration: none;color:black;">
      <div class="item-avatar" style="margin: -10px 0 -10px 0;">
        <img src="{{myvideo.author.icon}}" />
        <div style="padding-top:15px;">
          <div>{{myvideo.author.name}}</div>
          <div>{{myvideo.datetime | date:'yyyy-MM-dd HH:mm'}}</div>
        </div>
      </div>
    </a>

    <video class="video-js vjs-default-skin vjs-big-play-centered" on-finish-render ng-repeat="video in ['']"
           controls preload="true" style="width:100%;" height="200" id="{{$root.videoid}}"
           poster="http://video-js.zencoder.com/oceans-clip.png"
           data-setup='{"example_option":true}'>
      <source src="" type='video/mp4'>
      <!--<source src="http://101.200.81.99:8080/ciwen/server/output/ffpv5ksf7e2qc8o2s7.mp4" type='video/mp4'>-->
    </video>
    <p style="padding: 8px 10px 0 0">
      <i>{{myvideo.desc}} / {{myvideo.name}}</i>
      <i style="float:right" class="button button-light button-small icon ion-android-favorite" ng-click="vote()">{{myvideo.vote}}</i>
    </p>

    <!--<ion-scroll direction="x" >-->
      <!--<ul id="hlist" >-->
        <!--<li ng-repeat="c in videos">-->
          <!--<i class = "item item-avatar" ng-click='loadVideoByid(c._id)'>-->
            <!--<img src="{{c.poster}}">-->
          <!--</i>-->
        <!--</li>-->
      <!--</ul>-->
    <!--</ion-scroll>-->

    {{comments.length}}条评论
    <div class="list">
      <i class="item item-avatar"  ng-repeat="comment in comments">
        <img src="{{comment.author.icon}}" />
        <div style="float:right">{{comment.created | date:'MM-dd HH:mm'}}</div>
        <div>{{comment.author.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
        <p>{{comment.comment}}</p>
      </i>
    </div>
  </ion-content>

  <!-- align to the bottom of the page -->
  <div class="login-form" style="position: absolute; bottom: 0px; width: 100%">

    <div class="list list-borderless" style="padding-bottom: 46px">
      <div class="row-no-padding">
        <span class="item item-input">
          <i class="icon ion-at placeholder-icon"></i>
          <input id="txtMyComment" type="text" placeholder="写评论..." ng-model="$root.myComment">
          <i class="button button-clear button-positive" ng-click="sendMyComment()">发送</i>
        </span>
      </div>
    </div>
  </div>
</ion-view>
