<ion-view cache-view="false" view-title="视频详情">
  <ion-nav-buttons side="left"> <!-- left -->
    <button  class="button button-icon icon ion-ios-arrow-back"  ng-click="goBack()"></button>
  </ion-nav-buttons>

  <ion-content class="text-centerd row-no-padding">


      <div style="float:right; padding: 25px 12px 0 0; font-size: small">
        <span class="icon {{noFocus ? 'ion-ios-plus-outline balanced' : 'ion-ios-minus-outline'}}"
              ng-click="modifyInterest(noFocus)" ng-show="showFocus">&nbsp;关注</span>
        <a class="icon ion-ios-redo-outline" style="text-decoration: none" href="#/tab/player/{{myvideo._id}}" ng-show="!showFocus">&nbsp;分享</a>
      </div>
    <a  href="#/tab/focus/{{myvideo.author._id}}" style="text-decoration: none;color:black;">
      <div class="item-avatar" style="margin: -10px 0 -10px 0;">
        <img src="{{myvideo.author.icon}}" />
        <div style="padding-top:15px;">
          <div>{{myvideo.author.name}}</div>
          <div>{{myvideo.datetime | date:'yyyy-MM-dd HH:mm'}}</div>
        </div>
      </div>
    </a>

    <video class="video-js" ng-init="init()" on-finish-render ng-repeat="video in ['']"
           controls preload="true" style="width:100%;" height="206" id="{{videoid}}"
           poster=""
           data-setup='{"example_option":true}'>
      <source src="" type='video/mp4'>
    </video>
    <div>
      <div class="row">
        <div class="col col-70">
          <a href="#/resource/{{myvideo.parent}}">
            <i class="button button-light button-small button-energized padding-horizontal">{{myvideo.name}}</i></a>
        </div>
        <div class="col col-30" style="padding:12px 10px 0 12px; font-size:x-small">
          <span class="" >他们也在演:</span>
        </div>
      </div>
      <div class="row row-no-padding padding-bottom">
        <div class="col col-80">
          <ion-scroll direction="x" class="hlistnarrow">
            <ul>
              <li ng-repeat="c in brotherVideos | filter:excludeSelf | limitTo:11">
                <a class = "item item-avatar" ui-sref="video({vid: c._id})">
                  <img src="{{c.author.icon}}">
                  <br/>
                  <div class="text-center energized" style="padding:32px 0 0 2px;">{{c.author.name}}</div>
                </a>
              </li>
            </ul>
          </ion-scroll>
        </div>
        <div class="col text-center" style="padding-top:22px;">{{brotherVideos.length - 1}}</div>
      </div>
      <div class="row text-center item-divider-ios" style="padding:4px 0">
        <div class="col col-33"><i class="icon {{isVoted ? 'ion-android-favorite' : 'ion-android-favorite-outline'}}" ng-click="vote()">&nbsp; {{myvideo.vote}}</i></div>

        <div class="col"><i class="icon ion-ios-redo-outline">&nbsp;</i>分享</div>
        <div class="col"ng-click="complain()"><i class="icon ion-ios-more">&nbsp;</i> 更多</div>
      </div>
    </div>




    <div class="padding">
      <i>{{comments.length}}条评论</i>
    </div>
    <div class="list" style="clear:both;">
      <i class="item item-avatar"  ng-repeat="comment in comments">
        <img src="{{comment.author.icon}}" />
        <div style="float:right">{{comment.created | date:'MM-dd HH:mm'}}</div>
        <div>{{comment.author.name}} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </div>
        <p>{{comment.comment}}</p>
      </i>
    </div>
    <br>
  </ion-content>

  <!-- align to the bottom of the page -->
  <div class="login-form row-no-padding" style="position: absolute; bottom: 0px; width: 100%">
    <div class="list ">
       <span class="item item-input" style="padding:0">
         <i class="icon ion-at placeholder-icon padding-left"></i>
         <input id="txtMyComment" type="text" placeholder="写评论..." ng-model="$root.myComment">
         <i class="button button-clear button-positive" ng-click="sendMyComment()">发送</i>
       </span>
    </div>
  </div>
</ion-view>
