<ion-view cache-view="false" view-title="意见反馈">
  <ion-nav-buttons side="left"> <!-- left -->
    <a class="button button-icon icon ion-ios-arrow-back" href="#/settings"></a>
  </ion-nav-buttons>
  <ion-content class="mybackground">
    <div class="list card">

      <div class="item">
        <p class="mynote">您的意见对我们很重要</p>
      </div>

      <div class="item item-body">
        <label class="item item-input">
          <textarea rows="20" placeholder="意见和建议..."></textarea>
        </label>
      </div>

      <a class="item item-icon-right assertive text-right" href="#">
        <i class="icon ion-android-send"></i>
        发送
      </a>

    </div>

  </ion-content>
</ion-view>
