<ion-view cache-view="false" view-title="消息">
  <ion-nav-buttons side="left"> <!-- left -->
    <a class="button button-icon icon ion-ios-arrow-back" href="#/tab/account"></a>
  </ion-nav-buttons>

  <ion-content class="mybackground">
    <br>
    <div class="list list-borderless row-no-padding">
      <div class="item row">
        <span class="col col-10 text-center"><i class="icon ion-ios-personadd-outline"></i></span>
        <a class="col col-90 with-bottom-border item-icon-right mytext" href="#/tab/focus/addinterests">
          新的好友
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </div>
      <div class="item row ">
        <span class="col col-10 text-center"><i class="icon ion-ios-heart-outline"></i></span>
        <a class="col col-90 with-bottom-border item-icon-right mytext" href="#/">
          赞
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </div>
      <div class="item row ">
        <span class="col col-10 text-center"><i class="icon ion-ios-paper-outline"></i></span>
        <a class="col col-90 with-no-bottom-border item-icon-right mytext" href="#/">
          评论
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </div>
    </div>

    <div class="list list-borderless row-no-padding">
      <div class="item row ">
        <span class="col col-10 text-center"><i class="icon ion-ios-email-outline"></i></span>
        <a class="col col-90 with-no-bottom-border item-icon-right mytext" href="#/settings/message-detail">
          消息
          <i class="icon ion-chevron-right icon-accessory"></i>
        </a>
      </div>
    </div>


  </ion-content>
</ion-view>
