/* Empty. Add your own CSS if you like */
.wide-item {
  width: 10000px;
  /*  overflow-x: scroll; /*
  /*  -webkit-overflow-scrolling: touch;  */
}

/* 所有class为menu的div中的ul样式 */
.hlist ul
{
  list-style:none; /* 去掉ul前面的符号 */
  margin: 0px; /* 与外界元素的距离为0 */
  padding: 0px; /* 与内部元素的距离为0 */
  width: 666px; /* 宽度根据元素内容调整 */
}
/* 所有class为menu的div中的ul中的li样式 */
.hlist ul li
{
  float:left; /* 向左漂移，将竖排变为横排 */
  width:74px;
  text-align: center;
  font-size: .8em;
}
.hlist .item{
  border: none;
  min-height: 58px;
  margin-left:-8px;
  padding: 0px;/*16px*/
}

.tab_selected{
  border-bottom: 3px solid #e6b500;
  color:#e6b500;
}
.video-js .vjs-fullscreen-control{ display:none; }

.hlist i img{ border-radius:50%; height:50px; width:50px; margin-top:8px;  cursor: pointer;}

